<html>
    <body>
        <center>
            <img src="logo.png" alt="logo" width="600" height="100">
        </center><br>
        <table border="1" align="center" cellpadding="10" bgcolor="cyan">
            <caption>
                <h4>SLOT TIME-TABLE  PRIYA B(24900803)</h4>
            </caption>
            <tr><th>Day/Time</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>Saturday</th></tr>
            <tr><th>8-10</th><td>ML</td><td>CN</td><td>FREE</td><td>FREE</td><td>QA-1</td><td>WEB</td></tr>
            <tr><th>10-12</th><td>CA</td><td>FREE</td><td>FREE</td><td>FREE</td><td>CA</td><td>FREE</td></tr>
            <tr><th>12-1</th><td colspan="6" align="center">Lunch</td></tr>
            <tr><th>1-3</th><td>FREE</td><td>AD-C</td><td>MM</td><td>ML</td><td>WEB</td><td>HV</td></tr>
            <tr><th>3-5</th><td>OS</td><td>CHEM</td><td>OS</td><td>CN</td><td>FREE</td><td>AD-C</td></tr>
        </table>
        <br><br>
        <table border="1" align="center" cellpadding="10">
            <tr><th>S.No.</th><th>Subject Code</th><th>Subject Name</th></tr>
            <tr><td>1</td><td>19AI410</td><td>ML</td></tr>
            <tr><td>2</td><td>19CS406</td><td>CN</td></tr>
            <tr><td>3</td><td>19CS305</td><td>CA</td></tr>
            <tr><td>4</td><td>19CS405</td><td>OS</td></tr>
            <tr><td>5</td><td>19AI414</td><td>WEB</td></tr>
            <tr><td>6</td><td>19CY205</td><td>CHEM</td></tr>
            <tr><td>7</td><td>19AI305</td><td>AD-C</td></tr>
            <tr><td>8</td><td>19EY710</td><td>QA-1</td></tr>
            <tr><td>9</td><td>19HS801</td><td>HV</td></tr>
        </table>


    </body>
</html>